window, dialog{
    background-image: radial-gradient(circle at center, rgb(24, 24, 24) 0%, black 100%);
}


/* window *{
    border-width: 1px;
    border-color: red;
    border-style: solid;
} */

/* window grid {
    margin: 10px;   
} */

#info_grid, #info_win grid{
    margin: 15px;
 /*    border-width: 1px;
    border-color: red;
    border-style: solid; */
}


radiobutton {
    color: white;
    padding-top: 15px;
    padding-bottom: 25px;
}

#buttons {
    margin-bottom: 15px;
    color: black;
}

#buttons label {
    color: black;
}


#cpu_info{
    padding-top: 10px;
    padding-bottom: 40px;
}
#logo{
    padding-top: 10px;
    padding-bottom: 10px;
}

#label, dialog label, label:visited, link, grid>grid label {
    color: rgb(255, 255, 255);   
}

.close, .help{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.modes {
    font-size:xx-large;
    font-weight: bold;
}

/* .close {
    margin-bottom: 50px;
} */

