/* @import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css"); */
window, dialog{
    background-image: radial-gradient(circle at center, rgb(24, 24, 24) 0%, black 100%);
}

#settings>grid, #dialog>box{
    border: 1px red solid;
    padding:20px;
}

#settings separator {
    border: 1px red solid;
}
#settings>grid>label, #settings>grid>box>label, dialog>box>label {
    color: white
}

/* window *{
    border-width: 1px;
    border-color: red;
    border-style: solid;
} */

#main grid grid{
    padding-top: 40px; 
    margin-left: 50px;  
    margin-right: 50px;  
}

#info_grid, #info_win grid{
    margin: 15px;
 /*    border-width: 1px;
    border-color: red;
    border-style: solid; */
}

#link:hover, #link:active {
    background-color: steelblue;
    background: steelblue;
}

radiobutton {
    color: white;
    padding-top: 15px;
    padding-bottom: 25px;
}

#buttons {
    margin-bottom: 15px;
    color: black;
}

#version {
    padding: 10px;
    color: white;
}

#buttons label {
    color: black;
}


#cpu_info{
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo{
    padding-top: 10px;
    padding-bottom: 10px;
}

#label, label:visited, link, grid>grid label {
    color: rgb(255, 255, 255);   
}

.close, .help{
    padding: 10px;  
}

.modes {
    font-size:xx-large;
    font-weight: bold;
}
radiobutton:checked, radiobutton:active{
    border-style: none;
}
/* .close {
    margin-bottom: 50px;
} */

