[Desktop Entry]
Type=Application
Exec=python3 /usr/share/slimbookintelcontroller/src/slimbookintelcontrollerindicator.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=slimbookintelcontroller-autostart.desktop
Name=Slimbook Intel Controller Autostart
Comment[es_ES]=Arranque de autoinicio de Slimbook Intel Controller
Comment=Slimbook Intel Contoller's autostart executable
X-GNOME-Autostart-Delay=0
