[Desktop Entry]
Name=Slimbook INTEL Controller
Version=0.0.1
Exec=slimbookintelcontroller
Comment=Modify your CPU power!
Icon=/usr/share/slimbookintelcontroller/src/images/slimbookintelcontroller.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
Name[es_ES]=Slimbook INTEL Controller